Handle Unicode in DNS labels

A comment on #7 observes that we should be supporting internationalized DNS labels and unicode in general in the DNS layer.

This isn't strictly necessary for SemCache functionality, as we can enforce ASCII characters and control DNS records, but especially if we continue to allow user-specified `.local` domain names we should support non-ASCII characters.

I haven't yet found the canonical way DNS handles labels, but it obviously exists. Here are several relevant RFCs that will prove useful when this handled. It sounds like it might be [Punycode](https://en.wikipedia.org/wiki/Punycode), though some of the things I've come across have implied this is outdated.

[RFC 4343](https://tools.ietf.org/html/rfc4343#section-5)
[RFC 3454](https://tools.ietf.org/html/rfc3454)
[RFC 3492](https://tools.ietf.org/html/rfc3492)

[This](https://github.com/bestiejs/punycode.js/) looks like a promising `npm` module for handling Punycode.
